{% extends 'base.html' %}
{% block main %}
	<p>Detail</p>
	<h1>{{ object.username }}</h1>
	<a href="{{ object.profile.get_follow_url }}">{% if following %}Unfollow{% else %}Follow{% endif %}</a>
	<p>Following: {{ object.profile.get_following.count }}</p>
	<p>
		{% for user in object.profile.get_following %} 
			<a href="/{{user.username}}/">
				{{user.username}}
			</a> | 
			{% empty %}
				<p>Doesn't Follow anyone.</p>
		{% endfor %}
	</p>

	<p>Followers: {{ object.followed_by.count }}</p>
	<p>
		{% for profile in object.followed_by.all %} 
			<a href="/{{profile.user.username}}/">
				{{profile.user.username}}
			</a> |
			{% empty %}
				<p>Doesn't has any Followers.</p> 
		{% endfor %}
	</p>
	<hr/>
	<h1>Tweets</h1>
	<div>
		{% for tweet in object.tweet_set.all %}
			<p>{{ tweet }}</p>
		{% endfor %}
	</div>
{% endblock %}